<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TicTacToe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ttt-cli.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D35C1611FCE245C00A7BA04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D35C1771FCE245C00A7BA04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D35C1821FCE245C00A7BA04</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DF2E6ED1FD1F5CF00620B61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
